body {
  margin: 0;
  font-family: "Neue Haas", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #444;
  font-weight: 400;
  background-color: #f4f4f4;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Header Css */
.header--grey {
  background: #1e1e1e;
}

.menu {
  border: 1px solid #aaa;
}

.logo {
  margin-right: 1rem;
}

.notification {
  border-radius: 50%;
  background-color: #3a3a3a;
}

/* Tabs CSS */

.tab {
  background: rgba(255,255,255,0.6);
  border-bottom: 1px solid #e5e5e5;
}

.tab--list li span {
  color: #bbb;
}

.tab--list li a:hover {
  opacity: .8;
}

/* Profile CSS */
@media (min-width: 1280px) {
  .profile {
    width: 32.5rem;
  }
}

.profile .userrole {
  color: #999;
}

.profile .username {
  font-size: 2rem;
}

.profile .badge {
  left: 1.5rem;
  top: 1.5rem;
  background: #ffe054;
  color: #fff;
  border-radius: 3px;
}

.profile .buttons .hire {
  background: #5ac1b7;
  color: #fff;
}

.profile .buttons .follow {
  background: #5492e4;
  color: #fff;
}

.profile .buttons .hire:hover, .profile .buttons .follow:hover {
  opacity: .8;
}

.platforms {
  border-top: 1px solid #eee;
}

.platforms h2 {
  color: #999;
}

/* Card Images */

.card-image {
  height: 32rem;
}